<% provide(:title, 'Home') %>

<div>
    <div class="center" >

    </div>




        <div class="jumbotron" style="background-color: #b3e9ff; border: 2px solid black">

            <% a = @articles.shift %>
            <% articleCount = 0%>

            <% location = ''%>
            <% picture = ''%>

            <% if a.location == 'merc'%>
                <% picture = 'sanjose.png' %>
                <% location = 'The Mercury News' %>

        <% end %>
            <% if a.location == 'daily'%>
                <% picture = 'daily.png' %>
                <% location = 'The Stanford Daily' %>

        <% end %>



            <div class="container" style="background-color: white; padding: 40px; border: 2px solid black; border-radius: 5px;">
                <ul class="nav nav-tabs">
                    <li style="font-size: 20px; color: black;"class="active"><a data-toggle="tab" href="#home">Recent Article</a></li>
                    <li style="font-size: 20px; color: black;"><a data-toggle="tab" href="#menu1">Sign up for email updates!</a></li>
                    <li style="font-size: 20px; color: black;"><a data-toggle="tab" href="#menu2">List of all articles</a></li>


                </ul>

                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">

                        <div class="center">
                            <h2 style="color: black">
                                <div class="padded_san"> <%= articleCount+=1%>. <%= a.title %></div>
                            </h2>
                            <div>
                                By Hannah Knowles on <%= a.published_date.to_date.strftime("%B %d, %Y") %>
                            </div>
                        </div>

                        <hr>
                        <div class="center">
                            <span class="underlined"><%= location %></span>
                        </div>

                        <h4 class="padded_bot"><%= link_to "Read More", a.link, class: 'btn btn-lg btn-info', :target => '_blank' %></h4>
                        <div class="center" style="font-size: 15px">
                            This article was published <%= distance_of_time_in_words(a.published_date.to_date, Time.now.to_date) %> ago.
                        </div>
                    </div>

                    <div id="menu1" class="tab-pane fade">
                        <div class="center" style="padding: 30px">
                            <h4 style="color:black">Get email updates when Hannah posts an article!</h4>
                            <p>You will get an email every time that Hannah writes an article and posts it online - email weissp68@stanford.edu to cancel</p>
                            <%= form_for(@email) do |f| %>
                                <%= f.label :email, style: "color: black; float: left;"%>
                                <%= f.email_field :email, class: 'form-control' %>

                                <%= f.submit "Get updates!", class: "btn btn-info btn-lg" %>
                            <% end %>
                        </div>
                    </div>
                    <div id="menu2" class="tab-pane fade">
                        <div class="center" style="padding: 30px">
                            <% articles = 0%>
                            <div><%= articles+=1 %> <%= link_to "#{a.title}", a.link, :target => '_blank'%> </div>

                            <% @articles.each do |article|%>
                            <div><%= articles+=1 %> <%= link_to "#{article.title}", article.link, :target => '_blank' %> </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>

            <hr>





            <% @articles.each do |merc| %>
            <% picture = ''%>
            <% location = '' %>
            <% if merc.location == 'merc'%>
                 <% picture = 'sanjose.png' %>
                <% location = 'The Mercury News' %>

        <% end %>
            <% if merc.location == 'daily'%>
                 <% picture = 'daily.png' %>
                <% location = 'The Stanford Daily' %>

        <% end %>

            <%= timeline_container("#{articleCount+=1}. #{merc.title}", merc.published_date.to_date, picture) do %>
                            <div>
                                By Hannah Knowles on <%= merc.published_date.to_date.strftime("%B %d, %Y") %>
                            </div>
                             <hr>

                              <div class="center">
                                <span class="underlined"><%= location %></span>
                            </div>


                    <h4 class="padded_bot"><%= link_to "Read More", merc.link, class: 'btn btn-lg btn-info', :target => '_blank' %></h4>
                    <div class="center" style="font-size: 15px">
                        This article was published <%= distance_of_time_in_words(merc.published_date.to_date, Time.now.to_date) %> ago.
                    </div>

                <% end %>

            <% end%>




        </div>

    </div>

