<% provide(:title, 'Home') %>


<div style="height: 94vh; overflow: scroll;">
    <div class="center" >

    </div>
        <div class="jumbotron">

            <% a = @articles[0] %>
            <% articleCount = 0%>

            <% location = ''%>
            <% picture = ''%>

            <% if a.location == 'merc'%>
                <% picture = 'sanjose.png' %>
                <% location = 'The Mercury News' %>

        <% end %>
            <% if a.location == 'daily'%>
                <% picture = 'daily.png' %>
                <% location = 'The Stanford Daily' %>
        <% end %>
            <% if a.location == 'sacbee'%>
                <% picture = 'sacbee.jpg' %>
                <% location = 'The Sacramento Bee' %>
            <% end %>

            <div class="container" style="padding: 20px; border-radius: 10px;">
                <div class="col-md-6 flexed" style="align-items: center;" >
                    <div>
                        <h1 class="header_font2">Hannah's Articles. </h1>
                        <h2 class="center">Updated Live. </h2>
                        <br>
                        <br>
                        <h5 class="center"> This page crawls the internet every hour, looking for and pulling down new articles. The articles are stored in a database and archived.  </h5>
                        <br>
                        <br>


                    </div>

                </div>
                <div class="col-md-6">
                    <ul class="nav nav-tabs">
                        <li style="font-size: 12px; color: black;"class="active"><a data-toggle="tab" href="#menu1">Sign up for email updates!</a></li>
                        <li style="font-size: 12px; color: black;"><a data-toggle="tab" href="#menu2">List of all articles</a></li>
                    </ul>

                    <div class="tab-content">


                        <div id="menu1" class="tab-pane fade in active">
                            <div class="center" style="padding: 30px">
                                <h3 style="color:black">Get email updates when Hannah posts an article!</h3>
                                <h5>You will get an email every time that Hannah writes an article and posts it online - email weissp68@stanford.edu to cancel</h5>
                                <%= form_for(@email) do |f| %>
                                    <%= f.label :email, style: "color: black; float: left; font-size: 12px"%>
                                    <%= f.email_field :email, class: 'form-control' %>

                                    <%= f.submit "Get updates!", class: "btn btn-info btn-lg" %>
                                <% end %>
                            </div>
                        </div>
                        <div id="menu2" class="tab-pane fade">
                            <div class="center" style="padding: 30px">
                                <% articles = 0%>
                                <% @articles.each do |article|%>
                                    <div><%= articles+=1 %> <%= link_to "#{article.title}", article.link, :target => '_blank' %> </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <hr>


    <% @articles.each do |merc| %>
            <% picture = ''%>
            <% location = '' %>
            <% if merc.location == 'merc'%>
                 <% picture = 'sanjose.png' %>
                <% location = 'The Mercury News' %>

             <% end %>
            <% if merc.location == 'daily'%>
                 <% picture = 'daily.png' %>
                <% location = 'The Stanford Daily' %>
              <% end %>
                <% if merc.location == 'sacbee'%>
                    <% picture = 'sacbee.jpg' %>
                    <% location = 'The Sacramento Bee' %>
                <% end %>
            <%= timeline_container("#{articleCount+=1}. #{merc.title}", merc.published_date.to_date, picture) do %>
                            <div>
                                By Hannah Knowles on <%= merc.published_date.to_date.strftime("%B %d, %Y") %>
                            </div>
                             <hr>

                              <div class="center">
                                <span class="underlined"><%= location %></span>
                            </div>


                    <h4 class="padded_bot"><%= link_to "Read More", merc.link, class: 'btn btn-lg btn-info', :target => '_blank' %></h4>
                    <div class="center" style="font-size: 15px">
                        This article was published <%= distance_of_time_in_words(merc.published_date.to_date, Time.now.to_date) %> ago.
                    </div>

            <% end %>

            <% end%>




        </div>

    </div>

